<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liansha_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,0},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,0},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,0},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,0},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,800},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,800},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,800},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,800},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,800},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,1000},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,1000},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,1000},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,1000},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,1000},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,1200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,1200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,1200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,1200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,1200},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,1400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,1400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,1400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,1400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1520,1400},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{0,1600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{380,1600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{760,1600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liansha_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,200}</string>
                <key>spriteSourceSize</key>
                <string>{380,200}</string>
                <key>textureRect</key>
                <string>{{1140,1600},{380,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>123.png</string>
            <key>size</key>
            <string>{1900,1800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38db5ce57d324957d6e9ae62905507db:378081e21cd099376f51951381629c42:941d05de4ae2d2655ffe718e0f646750$</string>
            <key>textureFileName</key>
            <string>123.png</string>
        </dict>
    </dict>
</plist>
